
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

html body {
  background-color: #e4edf5;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #c0c0c0;
}

.no-gutters {
  margin: 0;
  padding: 0;
}

.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
  margin:0;
  padding:0;
}

main {
  display: block;
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  text-decoration: none;
}

.account {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 100px;
}

form {
  margin-left: 100px;
  margin-bottom: 25px;
  &-group {
    input {
      width: 100%;
      font-size: 1.125rem;
    }
  }
  .btn {
    border-radius: 18px;
    margin-right: 20px;
  }
}

.menu{
  text-align: left;
  background-color: #ffffff;
  margin: 7px 10px 0 0;
  padding: 10px;
  border-radius: 5px;
  height: 330px;
  .logo {
    margin-left: 20px;
  }
  &-list {
    margin-left: 20px;
  }
  img {
    width: 32px;
  }
  li {
    margin: 20px 0 20px 0;
    a {
      color: #212529;
      .profile-img {
        border-radius: 30px;
      }
      span {
        padding-left: 10px;
        font-weight: bold;
        vertical-align: middle;
      }
    }
  }
  .tweet-btn{
    width: 90%;
    margin-left: 15px;
    border-radius: 30px;
  }
}

.searchbar {
  margin-top: 7px;
  margin-left: 10px;
  .search-area {
    width: 100%;
    border: none;
    background-color: #dddddd;
    height: 35px;
    border-radius: 30px;
    padding-left: 10px;
  }
}

.contents {
  border-top: 1px solid #dbdbdb;
  .tweet-content {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    display: inline-flex;
    padding: 10px;
    .inner {
      .user-name {
        padding-left: 3px;
        .name {
          font-weight: bold;
          color: #000000;
        }
        .username {
          color: #9f9e9e;
          padding: 0 5px;
        }
        .created_at {
          color: #9f9e9e;
        }
      }
      .post-content {
        margin-top: 5px;
        padding-left: 3px;
        img {
          width: 120px;
        }
      }
    }
  }
}

.tweet-js-modal {
  form {
    margin: 0;
    .form-inner {
      margin-bottom: 10px;
      margin-left: 25px;
      .main-profile-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
    .inner {
      text-align: center;
      .tweet-area {
        width: 90%;
        height: 80px;
      }
      &-file {
        width: 77%;
        text-align: center;
      }
    }
    .modal-close-button {
      margin-left: 25px;
      cursor : pointer;
    }
    .btn-primary {
      width: 95px;
      float: right;
      margin-right: 25px;
    }
  }
}
